################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/adsbsharp/v17
/.vs/adsbsharp/FileContentIndex
